.noVNC_panel {
    border: 0px;
    background:#4c4c4c;;
    color:#fff;
}

.noVNC_logo {
    color: #fc7171;
}

.noVNC_logo span {
    color: #fc7171;
}

#noVNC_control_bar, #noVNC_control_bar_handle, .noVNC_panel .noVNC_heading {
    background: #4c4c4c;
}

.noVNC_button.noVNC_selected {
    background: #3892d4;
}

#pve_commands > input[type=button] {
    width: 100%;
}

#noVNC_canvas:focus {
    outline: none;
}

#noVNC_transition {
    z-index: 0;
}

#noVNC_connect_button {
  background-color: #4c4c4c;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

#noVNC_connect_button div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, rgb(128, 128, 128), rgb(128, 128, 128));
}

:root:not(.noVNC_touch) #noVNC_connect_button div:hover {
  background: linear-gradient(to top, #4c4c4c, #4c4c4c);
}

:root:not(.noVNC_touch) .noVNC_button.noVNC_selected:hover {
  border-color: rgba(0, 0, 0, 0.4);
  background: #5BA8DF;
}
